MembershipCashierDL.Tests/Service References/MPSvc/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9812/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
  <xs:complexType name="DataDiscriminatorOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataDiscriminatorOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="n_filter" nillable="true" type="q1:ExpressionNode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="n_order_by" nillable="true" type="q2:ArrayOfExpressionNode" />
      <xs:element minOccurs="0" name="take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDiscriminatorOfanyType" nillable="true" type="tns:DataDiscriminatorOfanyType" />
</xs:schema>