MembershipCashierDL.Tests/Service References/MPSvc/LowLevelAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LowLevelAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MembershipCashierUnified.Contracts" />
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" />
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
      <xsd:import schemaLocation="http://localhost:9812/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Linq.Expressions" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindCreditTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCreditTransaction" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindCreditTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCreditTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:FindLocation" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindLocationResponse" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:FindOwner" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindProfileCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProfileCredit" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_FindProfileCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProfileCreditResponse" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_UpdateProfileCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileCredit" />
  </wsdl:message>
  <wsdl:message name="LowLevelForMembershipCashierDL_UpdateProfileCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileCreditResponse" />
  </wsdl:message>
  <wsdl:portType name="LowLevelForMembershipCashierDL">
    <wsdl:operation name="FindCreditTransaction">
      <wsdl:input wsam:Action="http://tempuri.org/ILowLevelAccess/FindCreditTransaction" message="tns:LowLevelForMembershipCashierDL_FindCreditTransaction_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILowLevelAccess/FindCreditTransactionResponse" message="tns:LowLevelForMembershipCashierDL_FindCreditTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindLocation">
      <wsdl:input wsam:Action="http://tempuri.org/ILowLevelAccess/FindLocation" message="tns:LowLevelForMembershipCashierDL_FindLocation_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILowLevelAccess/FindLocationResponse" message="tns:LowLevelForMembershipCashierDL_FindLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindOwner">
      <wsdl:input wsam:Action="http://tempuri.org/ILowLevelAccess/FindOwner" message="tns:LowLevelForMembershipCashierDL_FindOwner_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILowLevelAccess/FindOwnerResponse" message="tns:LowLevelForMembershipCashierDL_FindOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProfileCredit">
      <wsdl:input wsam:Action="http://tempuri.org/ILowLevelAccess/FindProfileCredit" message="tns:LowLevelForMembershipCashierDL_FindProfileCredit_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILowLevelAccess/FindProfileCreditResponse" message="tns:LowLevelForMembershipCashierDL_FindProfileCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfileCredit">
      <wsdl:input wsam:Action="http://tempuri.org/ILowLevelAccess/UpdateProfileCredit" message="tns:LowLevelForMembershipCashierDL_UpdateProfileCredit_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILowLevelAccess/UpdateProfileCreditResponse" message="tns:LowLevelForMembershipCashierDL_UpdateProfileCredit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LowLevelForMembershipCashierDL" type="tns:LowLevelForMembershipCashierDL">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCreditTransaction">
      <soap:operation soapAction="http://tempuri.org/ILowLevelAccess/FindCreditTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindLocation">
      <soap:operation soapAction="http://tempuri.org/ILowLevelAccess/FindLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOwner">
      <soap:operation soapAction="http://tempuri.org/ILowLevelAccess/FindOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProfileCredit">
      <soap:operation soapAction="http://tempuri.org/ILowLevelAccess/FindProfileCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfileCredit">
      <soap:operation soapAction="http://tempuri.org/ILowLevelAccess/UpdateProfileCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LowLevelAccess">
    <wsdl:port name="LowLevelForMembershipCashierDL" binding="tns:LowLevelForMembershipCashierDL">
      <soap:address location="http://localhost:9812/LowLevelAccess" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>