MembershipCashierDL.Tests/Service References/SecuritySvc/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9811/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
  <xs:complexType name="ArrayOfRoleContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleContract" nillable="true" type="tns:RoleContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleContract" nillable="true" type="tns:ArrayOfRoleContract" />
  <xs:complexType name="RoleContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RoleContract" nillable="true" type="tns:RoleContract" />
  <xs:complexType name="RoleDiscriminator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataDiscriminatorOfanyType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleDiscriminator" nillable="true" type="tns:RoleDiscriminator" />
  <xs:complexType name="DataDiscriminatorOfanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataDiscriminatorOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="n_filter" nillable="true" type="q1:ExpressionNode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="n_order_by" nillable="true" type="q2:ArrayOfExpressionNode" />
      <xs:element minOccurs="0" name="take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataDiscriminatorOfanyType" nillable="true" type="tns:DataDiscriminatorOfanyType" />
  <xs:complexType name="ArrayOfUserProfileContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfileContract" nillable="true" type="tns:UserProfileContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfileContract" nillable="true" type="tns:ArrayOfUserProfileContract" />
  <xs:complexType name="UserProfileContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="_userProfileContract" nillable="true" type="tns:UserProfileImplementor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileContract" nillable="true" type="tns:UserProfileContract" />
  <xs:complexType name="UserProfileImplementor">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatusId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileImplementor" nillable="true" type="tns:UserProfileImplementor" />
  <xs:complexType name="UserProfileDiscriminator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataDiscriminatorOfanyType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProfileDiscriminator" nillable="true" type="tns:UserProfileDiscriminator" />
  <xs:complexType name="ArrayOfExtendedUserProfileContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedUserProfileContract" nillable="true" type="tns:ExtendedUserProfileContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtendedUserProfileContract" nillable="true" type="tns:ArrayOfExtendedUserProfileContract" />
  <xs:complexType name="ExtendedUserProfileContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserProfileContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="_webPagesMembershipContract" nillable="true" type="tns:WebPagesMembershipImplementor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtendedUserProfileContract" nillable="true" type="tns:ExtendedUserProfileContract" />
  <xs:complexType name="WebPagesMembershipImplementor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsConfirmed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastPasswordFailureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordChangedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordChangedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PasswordFailuresSinceLastSuccess" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordVerificationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordVerificationTokenExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebPagesMembershipImplementor" nillable="true" type="tns:WebPagesMembershipImplementor" />
</xs:schema>