MembershipCashierDL.Tests/Service References/SecuritySvc/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9811/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" />
  <xs:element name="GetUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="GetUserRolesResult" nillable="true" type="q1:ArrayOfRoleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="roles" nillable="true" type="q2:ArrayOfRoleContract" />
        <xs:element minOccurs="0" name="modifiedByUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q3:RoleDiscriminator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="GetUsersInRoleResult" nillable="true" type="q4:ArrayOfUserProfileContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q5:UserProfileDiscriminator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="GetRolesForUserResult" nillable="true" type="q6:ArrayOfRoleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q7:UserProfileDiscriminator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="FindUserProfileResult" nillable="true" type="q8:ArrayOfUserProfileContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindExtendedUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q9:UserProfileDiscriminator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindExtendedUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="FindExtendedUserProfileResult" nillable="true" type="q10:ArrayOfExtendedUserProfileContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q11:RoleDiscriminator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="FindRoleResult" nillable="true" type="q12:ArrayOfRoleContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q13:ArrayOfUserProfileContract" />
        <xs:element minOccurs="0" name="modifiedByUserId" type="xs:int" />
        <xs:element minOccurs="0" name="allowDefaultValues" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SecurityUnified.Contracts" minOccurs="0" name="d" nillable="true" type="q14:ArrayOfExtendedUserProfileContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>